.thermometer_container{
    display: inline-block;
    padding:5px;
    border: thin solid black;
    box-shadow: 5px 5px 3px #888888;
    border-radius: 10px;
}

.bulb{
    padding: 15px;
    display: inline-block;
    border-radius: 30px;
    background: red;
}

.bar{
    position: relative;
    right: 15px;
    bottom: 8px;
    padding: 5px;
    display: inline-block;
    border-radius: 20px;
    background: red;
}

.therm_label{
    font-size: large;
    padding: 0px 25px;
}
